<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NZBHags.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NZBHags.Properties.Settings>
            <setting name="outputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="nzbFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="tempFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="servername" serializeAs="String">
                <value />
            </setting>
            <setting name="serveraddr" serializeAs="String">
                <value />
            </setting>
            <setting name="serveruser" serializeAs="String">
                <value />
            </setting>
            <setting name="serverpass" serializeAs="String">
                <value />
            </setting>
            <setting name="serverport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serverconnections" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="servertimeout" serializeAs="String">
                <value>0</value>
            </setting>
        </NZBHags.Properties.Settings>
    </userSettings>
</configuration>